$main-bg-color: #991b1b;
$text-color: rgb(254, 202, 202);
$icon-size: 30px;


@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.about {
  width: 100%;
  height: auto;
  background: $main-bg-color;

  .container {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 0 25px;
    position: relative;
    // top: 150px;
    overflow: hidden;

    .about_text_parent {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 150px;

      .text_aqvo_end {
        
        .aqvo_top {
          .icon {
            position: absolute;
            left: 30px;
            display: flex;

            a {
              color: white;
              font-size: $icon-size;
            }
          }

          .aqvo_h1 {
            text-align: center;

            h1 {
              color: $text-color;
              font-family: Oswald, Arial, sans-serif;
              font-size: 2.25rem;
            }
          }
        }

        .aqvo_end {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: space-between;
          margin: 55px 0;

          .end-img {
            width: 533px;
            height: 402px;
            

            img {
              width: 100%;
              height: 100%;
              border-radius: 20px;  


            }
          }

          .end_text {
            width: 580px;

            
            h1{
              font-family: Montserrat Alternates, Arial, sans-serif;
              letter-spacing: 2px;
              font-size: 24px;
              color: white;
              line-height: 35px;


              span{    
                display: block;
                font-weight: 600;
                --tw-text-opacity: 1;
                color: rgb(209 171 125 / var(--tw-text-opacity, 1));
              }

            }

            p{
              color: white;
              font-size: 17px;
              font-family: Montserrat Alternates, Arial, sans-serif;
              line-height: 20px;
              letter-spacing: 1.5px;
              margin: 20px 0;


            }


          }
        }
        
        .aqvo_old{
          width: 100%;
          height: auto;
          display: flex;
          justify-content: space-between;

            
            
          .old_text{
            width: 580px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 15px 0;

            h1{
              font-family: Montserrat Alternates, Arial, sans-serif;
              letter-spacing: 2px;
              font-size: 24px;
              color: white;
              line-height: 35px;


              span{    
                display: block;
                font-weight: 600;
                --tw-text-opacity: 1;
                color: rgb(209 171 125 / var(--tw-text-opacity, 1));
              }

            }

            p{
              color: white;
              font-size: 17px;
              font-family: Montserrat Alternates, Arial, sans-serif;
              line-height: 20px;
              letter-spacing: 1.5px;
              margin: 20px 0;


            }

          }
          .old_img{
            width: 533px;

            img{
              width: 100%;
            height: 402px;
              border-radius: 20px;
            }
          }

        }

      }
      
      .text_aqvo_old{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;

        .img-full{
          width: 100%;
          height: auto;
          margin: 40px 0;
           

          img{
            width: 100%;
            border-radius: 20px;

          }
          p{
            color: white;
            font-size: 17px;
            font-family: Montserrat Alternates, Arial, sans-serif;
            line-height: 20px;
            letter-spacing: 1.5px;
            margin: 20px 0;


          }



        }

        .countres{
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
          
          .boxses{
            width: 100%;
            height: auto;
            display: flex;
            gap: 25px;

            .box{
              width: 280px;
              height: 380px;

              img{
                width: 100%;
              }
            }
          }

          .countres-end{
            width: 100%;
            height: 250px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;


            p{
              width: 470px;
              color: white;
              font-size: 16px;
              font-family: Montserrat Alternates, Arial, sans-serif;
              line-height: 20px;
              letter-spacing: 1px;
              margin: 20px 0;
  
            }

            .icon{
              display: flex;
              gap: 25px;
              
              a{
                color: white;
                font-size: 30px;
              }
            }
          }

        }
        

      }

    }
  }
}
